In [162]:
import pandas as pd

In [163]:
df = pd.read_csv('game2.csv')
df

        x   y  dx  dy  paddley
0       2   2   2   2        0
1       4   4   2   2        0
2       6   6   2   2        0
3       8   8   2   2        0
4      10  10   2   2        0
...   ...  ..  ..  ..      ...
3210  150 -54   2   2        0
3211  152 -52   2   2        0
3212  154 -50   2   2        0
3213  156 -48   2   2        0
3214  158 -46   2   2        0

[3215 rows x 5 columns]

In [164]:
X = df.drop(columns='paddley')
y = df['paddley']

In [ ]:
from matplotlib.pyplot import scatter
scatter(df['paddley'], df['x'])

In [166]:
# Sweet Spot

In [167]:
from sklearn.model_selection import train_test_split

In [168]:
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.2)

In [169]:
from sklearn.neighbors import KNeighborsRegressor

In [170]:
model = KNeighborsRegressor(n_neighbors=1)

In [171]:
model.fit(X, y)

KNeighborsRegressor(n_neighbors=1)

In [172]:
model.score(X_test, y_test)

1.0

In [173]:
import joblib

In [174]:
joblib.dump(model, 'pongAI2.joblib')

['pongAI2.joblib']